---
title: About Us
redirect_from: "/about-us.html"
weight: 1
css: aboutus.css
---
<div class="meet-crew">
    <h2>Meet the Crew</h2>
    <ol>
        {% for employee in site.data.company.employees %}
        <li class="employee">
            {% if employee.photo %}<div class="employee-photo"><img src="{{employee.photo}}" /></div>{% endif %}
            <div class="employee-about">
                <div class="employee-name">{{employee.name}}</div>
                <div class="employee-desc">{{employee.description}}</div>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
<h2>About Us</h2>
<img src="/images/logo_med.jpg" />
<p>
    Arizona Olde Tyme Pool Tile Services has been cleaning pool tiles, fountains, and water features since 2009.
    We provide old fashioned service with modern, eco-friendly technology
    to remove scaling and calcium from your pool tiles.  We do not use
    harsh chemicals or other tools or processes which may damage your tile.
    If you need pool tile calcium removal, give us a call!
</p>

<div id="trustworthy">
<h2>Trustworthy</h2>
<p>
    Arizona Olde Tyme Pool Tile Service is <span class="emphasis">trusted</span> by many of the top rated hotels and resorts in the Tucson
    area to keep their pools looking good, let us help you as well!
</p>
</div>

<img src="/images/resort_small.jpg" />
<img src="/images/resort2_small.jpg" />
